nav.navbar.navbar-expand.navbar-light.bg-light
  a.navbar-brand(href='/') Skelbimai
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='#')
        if user
          li.nav-item
            a.nav-link(href='/me')=user.name
          li.nav-item
            a.nav-link.logOut Atsijungti
        else
          li.nav-item
            a.nav-link(href='/login') Prisijungti
          li.nav-item
            a.nav-link(href='/signup') Registruotis 




