extends base 

block content 
  - if (darbdavioInfo !=null) 
    .container-md
      span Įmonės informacija jau pridėta.
      br
      span Įmonės pavadinimas: 
      span= darbdavioInfo.imonesPav
      br
      span Įmonės kodas: 
      span= darbdavioInfo.imonesKodas
      br
      span Kontaktinis asmuo: 
      span= darbdavioInfo.kontaktinisAsmuo
      br
      br
      span Jei norite atnaujinti įmonės informaciją eikite čia: 
      a(href=('/updateDarbdavi')) Atnaujinti įmonės informaciją.
  -else
    form.imonesInfoForma
      label(for='imonesPavadinimas') Įmonės pavadinimas:
      br
      input#imonesPavadinimas(type='text' name='imonesPavadinimas' value=val,)
      br
      label(for='imonesKodas') Įmonės kodas:
      br
      input#imonesKodas(type='number' name='imonesKodas')
      br
      label(for='kontaktinisAsmuo') Kontaktinis Asmuo:
      br
      input#kontaktinisAsmuo(type='text' name='kontaktinisAsmuo')
      br
      br
      input(type='submit' value='Submit')




