extends base 

block content 
  main.main
    .container.d-flex.justify-content-center
      form.forgotPasswordForm Pamiršote slaptažodį? Įveskite savo email adresą.
        .sec-2
          br
          br
          label.form-label  Jūsų email:
          .sec-2
            input.inputSignup#email(placeholder='' type='email' )
        br
        br
        button.forgotPwButton Siųsti laiška