
extends base 

block content 
    main.main
      form.formLogin
        .loginContainer
          .login-form
            .email.loginInput
              label(for="email") Email adresas
              .sec-2
                ion-icon(name="mail-outline")
                input#email(type="email" name="email" placeholder="Username@gmail.com")
              label(for="password") Slaptažodis
              .sec-2
                ion-icon(name="lock-closed-outline")
                input#password.pas(type="password" name="password" placeholder="············")
              
            button.login Prisijungti 
            .footer
              
              a.forgoPassword(href='/forgotPassword') Pamiršote slaptažodį?




                