extends base 

block content 
  main.main
    .containerSignup
      form.resetPasswordForm
        label.form-label  Slapta&zcaron;odis:  
        .sec-2
          input.inputSignup#password(type='Password' name='pass')

        label.form-label  Pakartoti Slapta&zcaron;od&iogon; :  
        .sec-2
          input.inputSignup#passwordConfirm(type='Password' name='repass')

        button Atkurti slaptažodį