extends base 

block content 
  main.main
    .containerSignup
      form.formSignup
        .name.loginInput
          label.form-label  Vardas: 
          .sec-2
            input.inputSignup#name(placeholder='' type='text' )
          label.form-label  Siūlote ar ieškote darbo?
          .sec-2
            select.inputSignup#role.role
              option(value='Role') 
              option(value='ieškau darbo') Ie&scaron;kau darbo
              option(value='siūlau darba') Si&umacr;lau darba
       
          label.form-label  Email:  
          .sec-2
            input.inputSignup#email(type='email' name='email')
       
          label.form-label  Slapta&zcaron;odis:  
          .sec-2
            input.inputSignup#pass(type='Password' name='pass')
       
          label.form-label  Pakartoti-Slapta&zcaron;od&iogon; :  
          .sec-2
            input.inputSignup#repass(type='Password' name='repass')
       
        button.login Registruotis



